In [1]:
import numpy as np
import pandas as pd

In [2]:
palette = tuple(reversed(palette))

In [3]:
df = pd.read_csv('state_data_with_co-ordinates.csv')
df.head(3)

,State,Confirmed,Recovered,Deaths,Active,State_code,coordinates
0,Maharashtra,12296,2000,521,9775,MH,"[(73.4627026845813, 16.037102338202374), (73.4..."
1,Gujarat,5054,896,262,3896,GJ,"[(71.70375251096965, 20.999582290490366), (71...."
2,Delhi,4122,1256,64,2802,DL,"[(77.09361369721444, 28.86939745742677), (77.1..."